<app-category></app-category>

<div>
    <!-- <h3 *ngIf="products; else: noProduct" class=" col-sm-10">{{title}}</h3> -->
    <div class="form-group col-sm-10">

        <input class="form-control" id="exampleInputEmail1" placeholder="Search Product" [(ngModel)]="filterText">
        <small *ngIf="filterText" id="emailHelp" class="form-text text-muted">You can search for any product</small>
    </div>
</div>


<ng-template #noProduct>
    <div class="alert alert-primary" role="alert">
        There is no product!
    </div>
</ng-template>

<div class="row">
    <div *ngFor="let product of products |productFilter:filterText"
        class="card card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 " class="productbox" style=" width: 18rem;">
        <img [src]="product.imageUrl" class="card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name |uppercase }} {{product.price |currency:'TRY':true:"1.2-3"}}</h5>
            <p class="card-text">{{product.description}}</p>
            <a (click)="addToCart(product)" class="btn btn-primary">Sepete Ekle</a>
        </div>
    </div>

</div>